USE [master]
GO
/****** Object:  Database [yalecomv__hirent]    Script Date: 12/03/2023 3:57:33 PM ******/
CREATE DATABASE [yalecomv__hirent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'yalecomv__hirent', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\yalecomv__hirent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'yalecomv__hirent_log', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\yalecomv__hirent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [yalecomv__hirent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [yalecomv__hirent]
GO
/****** Object:  User [yalecomv_hirent_admin]    Script Date: 12/03/2023 3:57:36 PM ******/
CREATE USER [yalecomv_hirent_admin] FOR LOGIN [yalecomv_hirent_admin] WITH DEFAULT_SCHEMA=[yalecomv_hirent_admin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [yalecomv_hirent_admin]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [yalecomv_hirent_admin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [yalecomv_hirent_admin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [yalecomv_hirent_admin]
GO
/****** Object:  Schema [yalecomv_hirent_admin]    Script Date: 12/03/2023 3:57:36 PM ******/
CREATE SCHEMA [yalecomv_hirent_admin]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [nvarchar](100) NOT NULL,
	[CommonName] [nvarchar](100) NULL,
	[FormalName] [nvarchar](100) NULL,
	[CountryType] [nvarchar](100) NULL,
	[CountrySubType] [nvarchar](100) NULL,
	[Sovereignty] [nvarchar](100) NULL,
	[Capital] [nvarchar](100) NULL,
	[CurrencyCode] [nvarchar](100) NULL,
	[CurrencyName] [nvarchar](100) NULL,
	[TelephoneCode] [nvarchar](100) NULL,
	[CountryCode3] [nvarchar](100) NULL,
	[CountryNumber] [nvarchar](100) NULL,
	[InternetCountryCode] [nvarchar](100) NULL,
	[SortOrder] [int] NULL,
	[IsPublished] [bit] NULL,
	[Flags] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_About]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_About](
	[AboutArticleID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Description] [nvarchar](150) NULL,
	[Contents] [ntext] NULL,
	[Image] [nvarchar](200) NULL,
	[Status] [varchar](50) NULL,
	[Kind] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [bigint] NULL,
	[UpdateDate] [datetime] NULL,
	[UrlFriendLy] [nvarchar](150) NULL,
	[MetaTitle] [nvarchar](200) NULL,
	[MetaDescription] [nvarchar](200) NULL,
	[MetaKeyWord] [nvarchar](500) NULL,
	[MetaImage] [nvarchar](200) NULL,
 CONSTRAINT [PK_tb_About] PRIMARY KEY CLUSTERED 
(
	[AboutArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Access]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Access](
	[LocalAccountID] [bigint] IDENTITY(1,1) NOT NULL,
	[AccessCount] [int] NULL,
 CONSTRAINT [PK_tb_TruyCap] PRIMARY KEY CLUSTERED 
(
	[LocalAccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_CategoryMain]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CategoryMain](
	[MainCateID] [bigint] IDENTITY(1,1) NOT NULL,
	[MainCateName] [nvarchar](100) NOT NULL,
	[Sort] [int] NULL,
	[MainCateDesc] [nvarchar](100) NULL,
	[CreateDate] [datetime] NOT NULL,
	[IsDeleted] [bit] NULL,
	[IsDisplay] [bit] NULL,
	[MainCateIcon] [varchar](20) NULL,
	[MainCateBanner] [ntext] NULL,
	[Language] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MainCateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_CategorySub1]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CategorySub1](
	[SubCate1ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SubCate1Name] [nvarchar](50) NULL,
	[MainCateID] [bigint] NULL,
	[IsDisplay] [bit] NULL,
	[SubCate1Desc] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[Sort] [tinyint] NULL,
	[Language] [varchar](100) NULL,
 CONSTRAINT [PK_tb_CategorySub1] PRIMARY KEY CLUSTERED 
(
	[SubCate1ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_CategorySub2]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CategorySub2](
	[SubCate2ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SubCate2Name] [nvarchar](50) NULL,
	[SubCate1ID] [bigint] NULL,
	[IsDisplay] [bit] NULL,
	[SubCate2Desc] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[Sort] [int] NULL,
	[Language] [varchar](100) NULL,
 CONSTRAINT [PK_tb_CategorySub2] PRIMARY KEY CLUSTERED 
(
	[SubCate2ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_CategorySub3]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CategorySub3](
	[SubCate3ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SubCate3Name] [nvarchar](50) NULL,
	[SubCate2ID] [bigint] NULL,
	[IsDisplay] [bit] NULL,
	[SubCate2Desc] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[Sort] [tinyint] NULL,
 CONSTRAINT [PK_tb_CategorySub3] PRIMARY KEY CLUSTERED 
(
	[SubCate3ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ContactMessage]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ContactMessage](
	[MessageID] [int] NOT NULL,
	[LastName] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[EmailAddress] [varchar](50) NULL,
	[MessageTitle] [nvarchar](200) NULL,
	[CreateDate] [datetime] NULL,
	[IsRead] [varchar](10) NULL,
	[MessageContent] [ntext] NULL,
 CONSTRAINT [PK_tb_ContactMessage] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ContactUs]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ContactUs](
	[ContactID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CellPhone] [varchar](15) NULL,
	[HomePhone] [varchar](15) NULL,
	[IsDeleted] [bit] NULL,
	[Finished] [bit] NULL,
	[ReadNew] [bit] NULL,
	[MessageContent] [ntext] NULL,
	[CreateDate] [datetime] NULL,
	[ReadDate] [datetime] NULL,
	[FinishDate] [datetime] NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_tb_ContactUs] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Counteronline]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Counteronline](
	[CounterID] [bigint] NOT NULL,
	[TotalUserOnline] [int] IDENTITY(1,1) NOT NULL,
	[TotalOnline] [int] NULL,
	[TotalClick] [int] NULL,
	[Flag] [tinyint] NULL,
 CONSTRAINT [PK_tb_Counteronline] PRIMARY KEY CLUSTERED 
(
	[CounterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Country]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [nvarchar](100) NOT NULL,
	[CommonName] [nvarchar](100) NULL,
	[FormalName] [nvarchar](100) NULL,
	[CountryType] [nvarchar](100) NULL,
	[CountrySubType] [nvarchar](100) NULL,
	[Sovereignty] [nvarchar](100) NULL,
	[Capital] [nvarchar](100) NULL,
	[CurrencyCode] [nvarchar](100) NULL,
	[CurrencyName] [nvarchar](100) NULL,
	[TelephoneCode] [nvarchar](100) NULL,
	[CountryCode3] [nvarchar](100) NULL,
	[CountryNumber] [nvarchar](100) NULL,
	[InternetCountryCode] [nvarchar](100) NULL,
	[SortOrder] [int] NULL,
	[IsPublished] [bit] NULL,
	[Flags] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Customer]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Customer](
	[CustomerID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerNo] [varchar](50) NULL,
	[CustomerGroup] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Description] [ntext] NULL,
	[Birthday] [date] NULL,
	[Gender] [bit] NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[Status] [tinyint] NULL,
	[Avatar] [nvarchar](200) NULL,
	[CreateDate] [datetime] NULL,
	[ResetCode] [varchar](50) NULL,
	[ResetStatus] [bit] NULL,
	[ResetLastTime] [datetime] NULL,
 CONSTRAINT [PK_tb_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_CustomerDeliveryAddress]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CustomerDeliveryAddress](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NULL,
	[Address] [nvarchar](250) NULL,
	[Status] [int] NULL,
	[CreateDate] [datetime] NULL,
	[FullName] [nvarchar](100) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[IsMacdinh] [int] NULL,
 CONSTRAINT [PK_tb_CustomerDeliveryAddress] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DeliverySelection]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DeliverySelection](
	[DeliverySelectionID] [bigint] IDENTITY(1,1) NOT NULL,
	[DeliveryName] [nvarchar](50) NULL,
	[DeliveryDescription] [nvarchar](200) NULL,
	[SortBy] [int] NULL,
	[DeliveryCost] [float] NULL,
	[Dichvuvanchuyen] [ntext] NULL,
	[Dichvulapdat] [ntext] NULL,
	[Totaldeposit] [float] NULL,
 CONSTRAINT [PK_tb_DeliverySelection] PRIMARY KEY CLUSTERED 
(
	[DeliverySelectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Deposit]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Deposit](
	[DepositId] [int] IDENTITY(1,1) NOT NULL,
	[DepositName] [nvarchar](200) NULL,
	[Prices] [float] NULL,
	[WishId] [int] NULL,
 CONSTRAINT [PK_tb_Deposit_1] PRIMARY KEY CLUSTERED 
(
	[DepositId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_District]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_District](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Type] [nvarchar](50) NULL,
	[LatiLongTude] [nvarchar](50) NULL,
	[ProvinceId] [int] NOT NULL,
	[SortOrder] [int] NULL,
	[IsPublished] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DocumentSelection]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DocumentSelection](
	[DocumentSelectionID] [bigint] IDENTITY(1,1) NOT NULL,
	[DocumentName] [nvarchar](50) NULL,
	[DocumentDescription] [nvarchar](200) NULL,
 CONSTRAINT [PK_tb_DocumentSelection] PRIMARY KEY CLUSTERED 
(
	[DocumentSelectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_GetLinkImage]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_GetLinkImage](
	[imgID] [int] IDENTITY(1,1) NOT NULL,
	[imgPath] [nvarchar](500) NULL,
	[imgUpload] [datetime] NULL,
 CONSTRAINT [PK_tb_GetLinkImage] PRIMARY KEY CLUSTERED 
(
	[imgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_GroupCustomer]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_GroupCustomer](
	[GroupCusID] [int] IDENTITY(1,1) NOT NULL,
	[GroupCusCode] [varchar](50) NULL,
	[GroupCusName] [nvarchar](100) NULL,
	[GroupCusDesc] [ntext] NULL,
	[GroupCusValue] [float] NULL,
	[IsDisplay] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[GroupCusCreate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupCusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_HomeBanner]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HomeBanner](
	[HomeBannerID] [bigint] IDENTITY(1,1) NOT NULL,
	[BannerGroup] [nvarchar](50) NULL,
	[BannerDescription] [nvarchar](100) NULL,
	[BannerLandingpage] [varchar](100) NULL,
	[BannerPath] [ntext] NULL,
	[BannerUpload] [datetime] NULL,
 CONSTRAINT [PK_tb_Home_Banner] PRIMARY KEY CLUSTERED 
(
	[HomeBannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_HomeMainBanner]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HomeMainBanner](
	[HomeMainBannerID] [bigint] IDENTITY(1,1) NOT NULL,
	[BannerPath] [nvarchar](100) NULL,
	[BannerDescription] [nvarchar](250) NULL,
	[BannerLandingpage] [ntext] NULL,
	[BannerUpload] [datetime] NULL,
	[BannerHeader1] [nvarchar](100) NULL,
	[BannerHeader2] [nvarchar](100) NULL,
	[SortArr] [int] NULL,
 CONSTRAINT [PK_tb_HomeMainBanner] PRIMARY KEY CLUSTERED 
(
	[HomeMainBannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_HomeProductGroup]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HomeProductGroup](
	[ProductGroupID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductGroupName] [nvarchar](50) NULL,
	[Sort] [tinyint] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tb_Home_ProductGroup] PRIMARY KEY CLUSTERED 
(
	[ProductGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Language]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Language](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Language_name] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_LocalAccount]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LocalAccount](
	[LocalAccountID] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountCode] [varchar](50) NULL,
	[FirstName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NULL,
	[UserName] [varchar](20) NULL,
	[Password] [varchar](50) NULL,
	[Birthday] [date] NULL,
	[Gender] [bit] NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[Status] [tinyint] NULL,
	[PermissionID] [bigint] NULL,
	[Avatar] [nvarchar](200) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_tb_Account] PRIMARY KEY CLUSTERED 
(
	[LocalAccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order](
	[OrderID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NULL,
	[OrderCode] [varchar](50) NULL,
	[OrderType] [tinyint] NULL,
	[DiscountAmount] [float] NULL,
	[CreateDate] [datetime] NULL,
	[PickupTime] [datetime] NULL,
	[ReturnTime] [datetime] NULL,
	[Quantity] [int] NULL,
	[ServiceSelectionID] [bigint] NULL,
	[DeliverySelectionID] [bigint] NULL,
	[DocumentSelectionID] [bigint] NULL,
	[TotalDepositAmount] [float] NULL,
	[TotalOrderValue] [float] NULL,
	[OrderStatus] [tinyint] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatingStatus] [bit] NULL,
	[productId] [bigint] NULL,
	[TotalTimes] [int] NULL,
	[TotalPriceAccess] [bigint] NULL,
	[TotalPrices] [bigint] NULL,
	[IsDisplay] [int] NULL,
	[TotalInstall] [bigint] NULL,
	[TotalDelivery] [bigint] NULL,
	[TotalOrders] [bigint] NULL,
	[DepositId] [int] NULL,
	[Dichvuvanchuyen] [ntext] NULL,
	[Dichvulapdat] [ntext] NULL,
	[Totaldeposit] [ntext] NULL,
	[hinhthuc] [int] NULL,
	[hinhthuccontent] [ntext] NULL,
	[Ghichucoc1] [ntext] NULL,
	[Ghichucoc2] [ntext] NULL,
 CONSTRAINT [PK__tb_Order__EC9FA95543E2EC44] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderAccessorySelection]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderAccessorySelection](
	[AccessorySelectionID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NULL,
	[ProductID] [bigint] NULL,
	[Quantity] [int] NULL,
	[Totals] [float] NULL,
 CONSTRAINT [PK_tb_Order_AccessorySelection] PRIMARY KEY CLUSTERED 
(
	[AccessorySelectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_OrderTrackingUpdate]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_OrderTrackingUpdate](
	[OrderTrackingUpdateID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[LocalAccount] [bigint] NULL,
	[CreateDate] [datetime] NULL,
	[ReturnDate] [datetime] NULL,
 CONSTRAINT [PK_tb_order_trackingUpdate] PRIMARY KEY CLUSTERED 
(
	[OrderTrackingUpdateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Permission]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Permission](
	[PermissionID] [bigint] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](150) NULL,
	[PermissionDescription] [nvarchar](300) NULL,
 CONSTRAINT [PK_tb_Permission] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Pre_Order]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Pre_Order](
	[pOrderId] [int] IDENTITY(1,1) NOT NULL,
	[customerId] [bigint] NULL,
	[productId] [bigint] NULL,
	[status] [int] NULL,
	[createTime] [datetime] NULL,
	[Totals] [float] NULL,
 CONSTRAINT [PK__tb_Pre_Order] PRIMARY KEY CLUSTERED 
(
	[pOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Pre_Order_accompanying]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Pre_Order_accompanying](
	[pAccompId] [int] IDENTITY(1,1) NOT NULL,
	[pOrderId] [int] NULL,
	[accompanyingQty] [int] NULL,
	[productId] [bigint] NULL,
	[status] [int] NULL,
	[createTimeClone] [datetime] NULL,
	[Totals] [float] NULL,
 CONSTRAINT [PK__tb_Pre_Order_accompanying] PRIMARY KEY CLUSTERED 
(
	[pAccompId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Pre_Order_Details]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Pre_Order_Details](
	[pOrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[pOrderId] [int] NULL,
	[rentalType] [int] NULL,
	[productQty] [int] NULL,
	[timePickup] [varchar](50) NULL,
	[timeReturn] [varchar](50) NULL,
	[serviceId] [int] NULL,
	[depositId] [int] NULL,
	[deliveryId] [int] NULL,
	[deliveryAddress] [int] NULL,
	[deliveryNote] [nvarchar](500) NULL,
	[paymentMethodId] [int] NULL,
	[createTimeClone] [datetime] NULL,
	[OrderCode] [nvarchar](50) NULL,
	[Totals] [float] NULL,
	[TotalInstall] [float] NULL,
	[TotalDelivery] [float] NULL,
	[Dichvuvanchuyen] [ntext] NULL,
	[Dichvulapdat] [ntext] NULL,
	[Totaldeposit] [float] NULL,
	[hinhthuc] [int] NULL,
	[hinhthuccontent] [ntext] NULL,
	[GhichuDichVu] [ntext] NULL,
	[GhiChuVanChuyen] [ntext] NULL,
	[Ghichucoc1] [ntext] NULL,
	[Ghichucoc2] [ntext] NULL,
	[Imagegc1] [ntext] NULL,
	[Imagegc2] [ntext] NULL,
 CONSTRAINT [PK__tb_Pre_Order_Details] PRIMARY KEY CLUSTERED 
(
	[pOrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Product]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Product](
	[ProductID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](500) NULL,
	[ProductName] [nvarchar](500) NULL,
	[ProductAvatar] [ntext] NULL,
	[ProductCity] [nvarchar](100) NULL,
	[ProductDistrict] [nvarchar](100) NULL,
	[ProductWard] [nvarchar](100) NULL,
	[ShortDescription] [ntext] NULL,
	[FullDescription] [ntext] NULL,
	[ProductSpecification] [ntext] NULL,
	[ProductInstruction] [ntext] NULL,
	[StatusPercentage] [int] NULL,
	[StatusAvailability] [tinyint] NULL,
	[PricePerBlock] [nvarchar](500) NULL,
	[PricePerDay] [nvarchar](500) NULL,
	[PricePerMonth] [nvarchar](500) NULL,
	[ProductMainCate] [bigint] NULL,
	[ProductSubCate1] [bigint] NULL,
	[ProductSubCate2] [bigint] NULL,
	[ProductSubCate3] [bigint] NULL,
	[CreateDate] [datetime] NULL,
	[ProductValue] [float] NULL,
	[ListBy1] [varchar](10) NULL,
	[ListBy2] [varchar](10) NULL,
	[ListBy3] [varchar](10) NULL,
	[ListBy4] [varchar](10) NULL,
	[ListBy5] [varchar](10) NULL,
	[ListBy6] [varchar](10) NULL,
	[ListBy7] [varchar](10) NULL,
	[YoutubeLink] [varchar](60) NULL,
	[Language] [varchar](255) NULL,
	[Position] [int] NULL,
	[Makho] [nvarchar](50) NULL,
	[Hinhthucdatcoc] [int] NULL,
	[Cocbangtienmat] [int] NULL,
	[Cocbanggiayto] [int] NULL,
	[Cocbanggiaytovahopdong] [int] NULL,
	[Cocbanggiaytovahopdongprice] [float] NULL,
	[Cocbangtaisan] [int] NULL,
	[Soluongton] [int] NULL,
 CONSTRAINT [PK_tb_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Product_Translation]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Product_Translation](
	[ProductID_EN] [int] IDENTITY(1,1) NOT NULL,
	[ProductName_EN] [nvarchar](200) NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[FullDescription_EN] [nvarchar](max) NULL,
	[Idproduct] [int] NULL,
	[PricePerBlock_EN] [nvarchar](500) NULL,
	[PricePerDay_EN] [nvarchar](500) NULL,
	[PricePerMonth_EN] [nvarchar](500) NULL,
	[IdLanguage] [varchar](200) NULL,
	[ProductSpecification] [ntext] NULL,
	[ProductInstruction] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID_EN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductAccessorySelection]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductAccessorySelection](
	[ProductAccessorySelectionID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[ProductCode] [varchar](50) NULL,
	[PricePerBlock] [float] NULL,
	[PricePerDay] [float] NULL,
	[ProductValue] [float] NULL,
 CONSTRAINT [PK_tb_Product_AccessorySelection] PRIMARY KEY CLUSTERED 
(
	[ProductAccessorySelectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductAccompany]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductAccompany](
	[ProductAccompany] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NULL,
	[ProductName] [nvarchar](100) NULL,
	[ProductCode] [varchar](50) NULL,
	[productAccAvatar] [ntext] NULL,
 CONSTRAINT [PK_tb_Product_accompany] PRIMARY KEY CLUSTERED 
(
	[ProductAccompany] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductCategorySelection]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductCategorySelection](
	[ProductCatId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[ProductMainCate] [bigint] NULL,
	[ProductSubCate1] [bigint] NULL,
	[ProductSubCate2] [bigint] NULL,
	[ProductSubCate3] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductCatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductGallery]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductGallery](
	[ImageID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NOT NULL,
	[ImagePath] [nvarchar](250) NULL,
 CONSTRAINT [PK_tb_ProductGallery] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductHomeProductGroup]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductHomeProductGroup](
	[ProductHomeProductGroupID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NOT NULL,
	[ProductGroupID] [bigint] NOT NULL,
 CONSTRAINT [PK_tb_Product_HomeProductGroup] PRIMARY KEY CLUSTERED 
(
	[ProductHomeProductGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductPricePerDay]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductPricePerDay](
	[PPDId] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Block1] [float] NULL,
	[Block2] [float] NULL,
	[Block3] [float] NULL,
	[Block4] [float] NULL,
	[Block5] [float] NULL,
	[Block6] [float] NULL,
	[Block7] [float] NULL,
	[Block8] [float] NULL,
	[Block9] [float] NULL,
	[Block10] [float] NULL,
	[Block11] [float] NULL,
	[Block12] [float] NULL,
	[Block13] [float] NULL,
	[Block14] [float] NULL,
	[Block15] [float] NULL,
	[Block16] [float] NULL,
	[Block17] [float] NULL,
	[Block18] [float] NULL,
	[Block19] [float] NULL,
	[Block20] [float] NULL,
	[Block21] [float] NULL,
	[Block22] [float] NULL,
	[Block23] [float] NULL,
	[Block24] [float] NULL,
	[Block25] [float] NULL,
	[Block26] [float] NULL,
	[Block27] [float] NULL,
	[Block28] [float] NULL,
	[Block29] [float] NULL,
	[Block30] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PPDId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductPricePerHour]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductPricePerHour](
	[PPHId] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Block1] [float] NULL,
	[Block2] [float] NULL,
	[Block3] [float] NULL,
	[Block4] [float] NULL,
	[Block5] [float] NULL,
	[Block6] [float] NULL,
	[Block7] [float] NULL,
	[Block8] [float] NULL,
	[Block9] [float] NULL,
	[Block10] [float] NULL,
	[Block11] [float] NULL,
	[Block12] [float] NULL,
	[Block13] [float] NULL,
	[Block14] [float] NULL,
	[Block15] [float] NULL,
	[Block16] [float] NULL,
	[Block17] [float] NULL,
	[Block18] [float] NULL,
	[Block19] [float] NULL,
	[Block20] [float] NULL,
	[Block21] [float] NULL,
	[Block22] [float] NULL,
	[Block23] [float] NULL,
	[Block24] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PPHId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductPricePerMonth]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductPricePerMonth](
	[PPMId] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Block1] [float] NULL,
	[Block2] [float] NULL,
	[Block3] [float] NULL,
	[Block4] [float] NULL,
	[Block5] [float] NULL,
	[Block6] [float] NULL,
	[Block7] [float] NULL,
	[Block8] [float] NULL,
	[Block9] [float] NULL,
	[Block10] [float] NULL,
	[Block11] [float] NULL,
	[Block12] [float] NULL,
 CONSTRAINT [PK_tb_ProductPricePerMonth] PRIMARY KEY CLUSTERED 
(
	[PPMId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductTermConditionDetails]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductTermConditionDetails](
	[PrDetailsId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NULL,
	[WarehouseId] [bigint] NULL,
	[CostInstallation] [float] NULL,
	[CostDelivery] [float] NULL,
	[CostInstallAndDelivery] [float] NULL,
	[CostReservation] [float] NULL,
	[CostDepositValue] [float] NULL,
	[CostDepositDocument] [float] NULL,
	[CreateTime] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Tuvanchuyen] [ntext] NULL,
	[Giaotannha] [ntext] NULL,
	[Nhantratannha] [ntext] NULL,
	[Giaovanhantratannha] [ntext] NULL,
	[Tulapdat] [ntext] NULL,
	[Huongdansudung] [ntext] NULL,
	[Thotoilap] [ntext] NULL,
	[Thotoithao] [ntext] NULL,
	[Thodenlapvathao] [ntext] NULL,
 CONSTRAINT [PK__tb_ProductTermConditionDetails] PRIMARY KEY CLUSTERED 
(
	[PrDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ProductTermConditionDetails_Translation]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ProductTermConditionDetails_Translation](
	[PrDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[IdLanguage] [nvarchar](200) NULL,
	[CostInstallation] [float] NULL,
	[CostDelivery] [float] NULL,
	[CostInstallAndDelivery] [float] NULL,
	[CostReservation] [float] NULL,
	[CostDepositValue] [float] NULL,
	[CostDepositDocument] [float] NULL,
	[CreateTime] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Tuvanchuyen] [ntext] NULL,
	[Giaotannha] [ntext] NULL,
	[Nhantratannha] [ntext] NULL,
	[Giaovanhantratannha] [ntext] NULL,
	[Tulapdat] [ntext] NULL,
	[Huongdansudung] [ntext] NULL,
	[Thotoilap] [ntext] NULL,
	[Thotoithao] [ntext] NULL,
	[Thodenlapvathao] [ntext] NULL,
 CONSTRAINT [PK__tb_Produ__53F9FEC06FA88FF2] PRIMARY KEY CLUSTERED 
(
	[PrDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Promotion]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Promotion](
	[PromotionID] [bigint] IDENTITY(1,1) NOT NULL,
	[DiscountByPercentage] [float] NULL,
	[DiscountByPrice] [float] NULL,
	[CreateDate] [datetime] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Status] [tinyint] NULL,
	[KindPromotion] [tinyint] NULL,
 CONSTRAINT [PK_tb_Sale] PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Province]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Province](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Type] [nvarchar](20) NULL,
	[TelephoneCode] [int] NULL,
	[ZipCode] [nvarchar](20) NULL,
	[CountryId] [int] NOT NULL,
	[CountryCode] [nvarchar](2) NULL,
	[SortOrder] [int] NULL,
	[IsPublished] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ServiceSelection]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ServiceSelection](
	[ServiceSelectionID] [bigint] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](200) NULL,
	[ServiceDescription] [nvarchar](500) NULL,
	[ServiceCost] [float] NULL,
	[SortBy] [int] NULL,
 CONSTRAINT [PK_tb_ServiceSelection] PRIMARY KEY CLUSTERED 
(
	[ServiceSelectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_SiteMap]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_SiteMap](
	[SiteMapID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Description] [nvarchar](150) NULL,
	[Contents] [ntext] NULL,
	[Image] [nvarchar](200) NULL,
	[Status] [tinyint] NULL,
	[Kind] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [bigint] NULL,
	[UpdateDate] [datetime] NULL,
	[UrlFriendLy] [nvarchar](150) NULL,
	[MetaTitle] [nvarchar](200) NULL,
	[MetaDescription] [nvarchar](200) NULL,
	[MetaKeyWord] [nvarchar](500) NULL,
	[MetaImage] [nvarchar](200) NULL,
 CONSTRAINT [PK_tb_SiteMap] PRIMARY KEY CLUSTERED 
(
	[SiteMapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_stockTemp]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_stockTemp](
	[stockTempId] [int] IDENTITY(1,1) NOT NULL,
	[idProduct] [int] NULL,
	[Quatity] [int] NULL,
 CONSTRAINT [PK_tb_stockTemp] PRIMARY KEY CLUSTERED 
(
	[stockTempId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_stockTempLog]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_stockTempLog](
	[stockTempLogID] [int] IDENTITY(1,1) NOT NULL,
	[stockTempId] [int] NULL,
	[createDate] [datetime] NULL,
	[Qty] [int] NULL,
 CONSTRAINT [PK_stockTempLog] PRIMARY KEY CLUSTERED 
(
	[stockTempLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Ward]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Ward](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[LatiLongTude] [nvarchar](50) NULL,
	[DistrictID] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsPublished] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Ward] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_WareHouse]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_WareHouse](
	[whId] [bigint] IDENTITY(1,1) NOT NULL,
	[WarehouseCode] [varchar](50) NOT NULL,
	[WarehouseName] [nvarchar](200) NULL,
	[WarehouseAddress] [nvarchar](500) NULL,
	[whOpenTime] [varchar](50) NULL,
	[whCloseTime] [varchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[IsDisplay] [bit] NULL,
	[createTime] [datetime] NULL,
	[Images] [varchar](max) NULL,
	[Policy] [nvarchar](max) NULL,
	[Phone] [ntext] NULL,
	[Zalo] [ntext] NULL,
	[Messenger] [ntext] NULL,
	[Skype] [ntext] NULL,
	[Email] [ntext] NULL,
	[Icons] [ntext] NULL,
	[Hopdong] [ntext] NULL,
	[ChinhSach] [ntext] NULL,
	[NgayTaoChinhSach] [datetime] NULL,
	[BannerImage] [ntext] NULL,
	[LocationMap] [ntext] NULL,
 CONSTRAINT [PK__tb_Wareh__86B294E2D96A490F] PRIMARY KEY CLUSTERED 
(
	[whId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_WareHouse_Day]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_WareHouse_Day](
	[whdid] [int] IDENTITY(1,1) NOT NULL,
	[whdName] [nvarchar](200) NULL,
	[whTimeClose] [datetime] NULL,
	[whId] [int] NULL,
 CONSTRAINT [PK_tb_WareHouse_Day] PRIMARY KEY CLUSTERED 
(
	[whdid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_WareHouse_Time]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_WareHouse_Time](
	[whtid] [int] IDENTITY(1,1) NOT NULL,
	[whId] [int] NULL,
	[whOpenTime] [nvarchar](50) NULL,
	[whCloseTime] [nvarchar](50) NULL,
	[whOpenTime2] [nvarchar](50) NULL,
	[whCloseTime2] [nvarchar](50) NULL,
	[FromDayOfWeek] [nvarchar](200) NULL,
	[ToDayOfWeek] [int] NULL,
	[whOpenTime3] [nvarchar](50) NULL,
	[whCloseTime3] [nvarchar](50) NULL,
	[Title1] [nvarchar](255) NULL,
	[Title2] [nvarchar](255) NULL,
	[Title3] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo.warehouse_time] PRIMARY KEY CLUSTERED 
(
	[whtid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_WishList]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_WishList](
	[WishListID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_tb_WishList] PRIMARY KEY CLUSTERED 
(
	[WishListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeBlock]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeBlock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromTime] [nvarchar](50) NULL,
	[ToTime] [nvarchar](50) NULL,
	[ForDays] [nvarchar](50) NULL,
	[whId] [int] NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinhthanhpho]    Script Date: 12/03/2023 3:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinhthanhpho](
	[MaTP] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Type] [nvarchar](255) NULL,
	[Slug] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [CountryCode], [CommonName], [FormalName], [CountryType], [CountrySubType], [Sovereignty], [Capital], [CurrencyCode], [CurrencyName], [TelephoneCode], [CountryCode3], [CountryNumber], [InternetCountryCode], [SortOrder], [IsPublished], [Flags], [IsDeleted]) VALUES (1, N'AC', N'Ascension', N'', N'Proto Dependency', N'Dependency of Saint Helena', N'United Kingdom', N'Georgetown', N'SHP', N'Pound', N'247', N'ASC', N'', N'.ac', 16, 1, N'ac.png', 0)
INSERT [dbo].[Country] ([Id], [CountryCode], [CommonName], [FormalName], [CountryType], [CountrySubType], [Sovereignty], [Capital], [CurrencyCode], [CurrencyName], [TelephoneCode], [CountryCode3], [CountryNumber], [InternetCountryCode], [SortOrder], [IsPublished], [Flags], [IsDeleted]) VALUES (2, N'AD', N'Andorra', N'Principality of Andorra', N'Independent State', NULL, NULL, N'Andorra la Vella', N'EUR', N'Euro', N'376', N'AND', N'20', N'.ad', 6, 1, N'ad.png', 0)
INSERT [dbo].[Country] ([Id], [CountryCode], [CommonName], [FormalName], [CountryType], [CountrySubType], [Sovereignty], [Capital], [CurrencyCode], [CurrencyName], [TelephoneCode], [CountryCode3], [CountryNumber], [InternetCountryCode], [SortOrder], [IsPublished], [Flags], [IsDeleted]) VALUES (3, N'AE', N'United Arab Emirates', N'United Arab Emirates', N'Independent State', NULL, NULL, N'Abu Dhabi', N'AED', N'Dirham', N'971', N'ARE', N'784', N'.ae', 232, 1, N'ae.png', 0)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_CategoryMain] ON 

INSERT [dbo].[tb_CategoryMain] ([MainCateID], [MainCateName], [Sort], [MainCateDesc], [CreateDate], [IsDeleted], [IsDisplay], [MainCateIcon], [MainCateBanner], [Language]) VALUES (4, N'Dụng cụ, thiết bị', 2, N'Dụng cụ sửa chữa, các thiết bị, máy móc trong gia đình, xe cộ', CAST(N'2018-04-11T14:29:02.473' AS DateTime), 0, 1, N'fa fa-gear', N'../image_banner/banner_maincate_default.jpg', N'Tools, devices')
INSERT [dbo].[tb_CategoryMain] ([MainCateID], [MainCateName], [Sort], [MainCateDesc], [CreateDate], [IsDeleted], [IsDisplay], [MainCateIcon], [MainCateBanner], [Language]) VALUES (5, N'Xe - vận chuyển', 8, N'Cho thuê các loại xe giao thông, xe công trình', CAST(N'2018-04-11T14:29:02.473' AS DateTime), 0, 1, N'fa fa-automobile', N'../image_banner/bannerMaincate_Car_Rental.jpg', N'Transport')
INSERT [dbo].[tb_CategoryMain] ([MainCateID], [MainCateName], [Sort], [MainCateDesc], [CreateDate], [IsDeleted], [IsDisplay], [MainCateIcon], [MainCateBanner], [Language]) VALUES (6, N'Bất động sản', 9, N'Thuê nhà ở, căn hộ, văn phòng, cửa hàng, nhà xưởng, kho bãi, đất đai', CAST(N'2018-04-11T14:29:02.473' AS DateTime), 0, 1, N'fa fa-home', N'../image_banner/bannerMaincate_house.jpg', N'Real estate')
SET IDENTITY_INSERT [dbo].[tb_CategoryMain] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_CategorySub1] ON 

INSERT [dbo].[tb_CategorySub1] ([SubCate1ID], [SubCate1Name], [MainCateID], [IsDisplay], [SubCate1Desc], [CreateDate], [IsDeleted], [Sort], [Language]) VALUES (15, N'Xe 2 bánh ', 5, 1, N'Xe đạp, xe điện, xe moto, gắn máy', CAST(N'2018-04-13T10:28:23.550' AS DateTime), 0, 83, N'Bicycle, motorbike')
INSERT [dbo].[tb_CategorySub1] ([SubCate1ID], [SubCate1Name], [MainCateID], [IsDisplay], [SubCate1Desc], [CreateDate], [IsDeleted], [Sort], [Language]) VALUES (16, N'Xe Khách', 5, 1, N'Xe 4 chỗ, 7 chỗ, 16 chỗ, 35 chỗ,...', CAST(N'2018-04-13T10:28:59.120' AS DateTime), 0, 84, N'Coach')
INSERT [dbo].[tb_CategorySub1] ([SubCate1ID], [SubCate1Name], [MainCateID], [IsDisplay], [SubCate1Desc], [CreateDate], [IsDeleted], [Sort], [Language]) VALUES (17, N'Xe chở hàng', 5, 1, N'Xe 1,5 tấn, 3,5 tấn,...', CAST(N'2018-04-13T10:29:17.330' AS DateTime), 0, 85, N'Freight truck')
SET IDENTITY_INSERT [dbo].[tb_CategorySub1] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_CategorySub2] ON 

INSERT [dbo].[tb_CategorySub2] ([SubCate2ID], [SubCate2Name], [SubCate1ID], [IsDisplay], [SubCate2Desc], [CreateDate], [IsDeleted], [Sort], [Language]) VALUES (16, N'Xe 9-16 chỗ', 16, 1, N'Xe 9-16 chỗ', CAST(N'2018-04-13T14:11:45.600' AS DateTime), 0, 845, N'Car 9 - 16 seats')
INSERT [dbo].[tb_CategorySub2] ([SubCate2ID], [SubCate2Name], [SubCate1ID], [IsDisplay], [SubCate2Desc], [CreateDate], [IsDeleted], [Sort], [Language]) VALUES (17, N'Xe 7 chỗ', 16, 1, N'Xe 7 chỗ', CAST(N'2018-04-13T14:12:11.950' AS DateTime), 0, 843, N'Car 7 seats')
INSERT [dbo].[tb_CategorySub2] ([SubCate2ID], [SubCate2Name], [SubCate1ID], [IsDisplay], [SubCate2Desc], [CreateDate], [IsDeleted], [Sort], [Language]) VALUES (18, N'Xe trên 16 chỗ', 16, 1, N'Xe trên 16 chỗ', CAST(N'2018-04-13T14:12:30.287' AS DateTime), 0, 846, N'Car over 16 seats ')
GO
SET IDENTITY_INSERT [dbo].[tb_CategorySub2] OFF
GO
INSERT [dbo].[tb_ContactMessage] ([MessageID], [LastName], [FirstName], [PhoneNumber], [EmailAddress], [MessageTitle], [CreateDate], [IsRead], [MessageContent]) VALUES (0, N'terry', N'tuan', N'0909090909', N'jjj@Jjj.com', N'tieu', CAST(N'2018-06-21T00:00:00.000' AS DateTime), N'NULL', N'de')
GO
SET IDENTITY_INSERT [dbo].[tb_Country] ON 

INSERT [dbo].[tb_Country] ([Id], [CountryCode], [CommonName], [FormalName], [CountryType], [CountrySubType], [Sovereignty], [Capital], [CurrencyCode], [CurrencyName], [TelephoneCode], [CountryCode3], [CountryNumber], [InternetCountryCode], [SortOrder], [IsPublished], [Flags], [IsDeleted]) VALUES (1, N'VN', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_Country] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Customer] ON 

INSERT [dbo].[tb_Customer] ([CustomerID], [CustomerNo], [CustomerGroup], [FirstName], [LastName], [UserName], [Password], [Description], [Birthday], [Gender], [Phone], [Email], [Address], [Status], [Avatar], [CreateDate], [ResetCode], [ResetStatus], [ResetLastTime]) VALUES (27, N'customer003', 4, N'efflect', N'ben', N'ben', N'123', N'ddd', NULL, NULL, N'0909090909', N'ben@gmail.com', N'phap1', NULL, N'../image_customer/account-no-avatar.png', CAST(N'2018-05-01T13:22:40.007' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[tb_Customer] ([CustomerID], [CustomerNo], [CustomerGroup], [FirstName], [LastName], [UserName], [Password], [Description], [Birthday], [Gender], [Phone], [Email], [Address], [Status], [Avatar], [CreateDate], [ResetCode], [ResetStatus], [ResetLastTime]) VALUES (28, N'customer005', 3, N'vans', N'antoine', N'antoine', N'1234', N'', NULL, NULL, N'123123123', N'ant@gmail.com', N'Thailand', NULL, N'../image_customer/account-no-avatar.png', CAST(N'2018-05-01T13:23:47.280' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[tb_Customer] ([CustomerID], [CustomerNo], [CustomerGroup], [FirstName], [LastName], [UserName], [Password], [Description], [Birthday], [Gender], [Phone], [Email], [Address], [Status], [Avatar], [CreateDate], [ResetCode], [ResetStatus], [ResetLastTime]) VALUES (29, N'cusfront2018', 3, N'itm', N'co', NULL, N'123', NULL, NULL, NULL, NULL, N'itm@siyosa.net', NULL, NULL, N'../image_customer/account-no-avatar.png', CAST(N'2018-06-08T13:50:18.787' AS DateTime), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[tb_Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_CustomerDeliveryAddress] ON 

INSERT [dbo].[tb_CustomerDeliveryAddress] ([ID], [CustomerID], [Address], [Status], [CreateDate], [FullName], [PhoneNumber], [IsMacdinh]) VALUES (19, 32, N'146m Nguyen Van Thu, P.Dakao, Q.1', NULL, CAST(N'2021-03-24T18:17:17.353' AS DateTime), N'Nam', N'0903663879', 1)
INSERT [dbo].[tb_CustomerDeliveryAddress] ([ID], [CustomerID], [Address], [Status], [CreateDate], [FullName], [PhoneNumber], [IsMacdinh]) VALUES (20, 32, N'63 Phan Đăng Lưu Đà Nẵng', NULL, CAST(N'2021-03-24T18:17:55.460' AS DateTime), N'Bố', N'0903731256', 0)
INSERT [dbo].[tb_CustomerDeliveryAddress] ([ID], [CustomerID], [Address], [Status], [CreateDate], [FullName], [PhoneNumber], [IsMacdinh]) VALUES (43, 39, N'30 Lý thái tổ', NULL, CAST(N'2021-04-05T16:09:56.270' AS DateTime), N'Trần kiều Ân', N'0914566873', 1)
SET IDENTITY_INSERT [dbo].[tb_CustomerDeliveryAddress] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_DeliverySelection] ON 

INSERT [dbo].[tb_DeliverySelection] ([DeliverySelectionID], [DeliveryName], [DeliveryDescription], [SortBy], [DeliveryCost], [Dichvuvanchuyen], [Dichvulapdat], [Totaldeposit]) VALUES (1, N'Tự vận chuyển
', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tb_DeliverySelection] ([DeliverySelectionID], [DeliveryName], [DeliveryDescription], [SortBy], [DeliveryCost], [Dichvuvanchuyen], [Dichvulapdat], [Totaldeposit]) VALUES (2, N'Giao tận nhà
', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tb_DeliverySelection] ([DeliverySelectionID], [DeliveryName], [DeliveryDescription], [SortBy], [DeliveryCost], [Dichvuvanchuyen], [Dichvulapdat], [Totaldeposit]) VALUES (3, N'Nhận trả tận nhà
', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_DeliverySelection] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Deposit] ON 

INSERT [dbo].[tb_Deposit] ([DepositId], [DepositName], [Prices], [WishId]) VALUES (2, N'Giấy tờ xe', 100000, 7)
INSERT [dbo].[tb_Deposit] ([DepositId], [DepositName], [Prices], [WishId]) VALUES (4, N'CMND', 20000, 7)
INSERT [dbo].[tb_Deposit] ([DepositId], [DepositName], [Prices], [WishId]) VALUES (5, N'Passport', 120000, 7)
SET IDENTITY_INSERT [dbo].[tb_Deposit] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_District] ON 

INSERT [dbo].[tb_District] ([Id], [Name], [Type], [LatiLongTude], [ProvinceId], [SortOrder], [IsPublished], [IsDeleted]) VALUES (1, N'Quận 1', NULL, NULL, 3, NULL, NULL, NULL)
INSERT [dbo].[tb_District] ([Id], [Name], [Type], [LatiLongTude], [ProvinceId], [SortOrder], [IsPublished], [IsDeleted]) VALUES (2, N'Quận 2', NULL, NULL, 3, NULL, NULL, NULL)
INSERT [dbo].[tb_District] ([Id], [Name], [Type], [LatiLongTude], [ProvinceId], [SortOrder], [IsPublished], [IsDeleted]) VALUES (3, N'Quận 3', NULL, NULL, 3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_District] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_GetLinkImage] ON 

INSERT [dbo].[tb_GetLinkImage] ([imgID], [imgPath], [imgUpload]) VALUES (1, N'../image_banner/terry_full_signiture.png', CAST(N'2018-04-22T00:00:00.000' AS DateTime))
INSERT [dbo].[tb_GetLinkImage] ([imgID], [imgPath], [imgUpload]) VALUES (2, N'../image_banner/sql-1.png', CAST(N'2018-04-22T00:00:00.000' AS DateTime))
INSERT [dbo].[tb_GetLinkImage] ([imgID], [imgPath], [imgUpload]) VALUES (3, N'http://savinaweb.siyosa.net/image_banner/sql-1.png', CAST(N'2018-04-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_GetLinkImage] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_GroupCustomer] ON 

INSERT [dbo].[tb_GroupCustomer] ([GroupCusID], [GroupCusCode], [GroupCusName], [GroupCusDesc], [GroupCusValue], [IsDisplay], [IsDeleted], [GroupCusCreate]) VALUES (3, N'Cus2018001', N'Khách hàng vãng lai', N'Nhóm không có phúc lợi', 10000, 1, 0, CAST(N'2018-04-23T22:33:34.220' AS DateTime))
INSERT [dbo].[tb_GroupCustomer] ([GroupCusID], [GroupCusCode], [GroupCusName], [GroupCusDesc], [GroupCusValue], [IsDisplay], [IsDeleted], [GroupCusCreate]) VALUES (4, N'Cus2018002', N'Khách hàng nhóm 1', N'Được miễn phí vận chuyển ', 15000000, 1, 0, CAST(N'2018-04-23T22:34:49.543' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_GroupCustomer] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_HomeBanner] ON 

INSERT [dbo].[tb_HomeBanner] ([HomeBannerID], [BannerGroup], [BannerDescription], [BannerLandingpage], [BannerPath], [BannerUpload]) VALUES (1, N'1', N'Banner hiển thị bên trái', N'../productsearch', N'../image_banner/banner_mainslider_1.jpg', CAST(N'2018-04-23T19:37:38.053' AS DateTime))
INSERT [dbo].[tb_HomeBanner] ([HomeBannerID], [BannerGroup], [BannerDescription], [BannerLandingpage], [BannerPath], [BannerUpload]) VALUES (2, N'1', N'Banner hiển thị ở giữa', N'../productsearch', N'../image_banner/banner_mainslider_2.jpg', CAST(N'2018-04-22T23:26:07.127' AS DateTime))
INSERT [dbo].[tb_HomeBanner] ([HomeBannerID], [BannerGroup], [BannerDescription], [BannerLandingpage], [BannerPath], [BannerUpload]) VALUES (3, N'1', N'Banner hiển thị bên phải', N'../productsearch', N'../image_banner/banner_mainslider_3.jpg', CAST(N'2018-04-22T23:26:20.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[tb_HomeBanner] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_HomeMainBanner] ON 

INSERT [dbo].[tb_HomeMainBanner] ([HomeMainBannerID], [BannerPath], [BannerDescription], [BannerLandingpage], [BannerUpload], [BannerHeader1], [BannerHeader2], [SortArr]) VALUES (10, N'../image_banner/banner_mainbanner01.jpg', NULL, N'../productsearch', CAST(N'2018-04-23T13:47:27.737' AS DateTime), N'Nội dung 1', N'nội dung 2', 1)
INSERT [dbo].[tb_HomeMainBanner] ([HomeMainBannerID], [BannerPath], [BannerDescription], [BannerLandingpage], [BannerUpload], [BannerHeader1], [BannerHeader2], [SortArr]) VALUES (11, N'../image_banner/banner_mainbanner02.jpg', NULL, N'../productsearch', CAST(N'2018-04-23T13:47:54.253' AS DateTime), N'Header 1', N'Header 2', 2)
SET IDENTITY_INSERT [dbo].[tb_HomeMainBanner] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_HomeProductGroup] ON 

INSERT [dbo].[tb_HomeProductGroup] ([ProductGroupID], [ProductGroupName], [Sort], [Status]) VALUES (1, N'SẢN PHẨM MỚI NHẤT', 1, 1)
INSERT [dbo].[tb_HomeProductGroup] ([ProductGroupID], [ProductGroupName], [Sort], [Status]) VALUES (2, N'NHIỀU NGƯỜI TÌM NHẤT', 2, 1)
INSERT [dbo].[tb_HomeProductGroup] ([ProductGroupID], [ProductGroupName], [Sort], [Status]) VALUES (3, N'SẢN PHẨM ĐỘC, LẠ', 3, 1)
SET IDENTITY_INSERT [dbo].[tb_HomeProductGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Language] ON 

INSERT [dbo].[tb_Language] ([ID], [Language_name]) VALUES (1, N'en')
INSERT [dbo].[tb_Language] ([ID], [Language_name]) VALUES (2, N'en')
SET IDENTITY_INSERT [dbo].[tb_Language] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_LocalAccount] ON 

INSERT [dbo].[tb_LocalAccount] ([LocalAccountID], [AccountCode], [FirstName], [LastName], [UserName], [Password], [Birthday], [Gender], [Phone], [Email], [Address], [Status], [PermissionID], [Avatar], [CreateDate]) VALUES (1, N'acclocal01', NULL, NULL, N'admin', N'123', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'../image_banner/SiYoSa-Logo.png', NULL)
SET IDENTITY_INSERT [dbo].[tb_LocalAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Order] ON 

SET IDENTITY_INSERT [dbo].[tb_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_OrderAccessorySelection] ON 

INSERT [dbo].[tb_OrderAccessorySelection] ([AccessorySelectionID], [OrderID], [ProductID], [Quantity], [Totals]) VALUES (267, 246, 350, 1, 5000)
INSERT [dbo].[tb_OrderAccessorySelection] ([AccessorySelectionID], [OrderID], [ProductID], [Quantity], [Totals]) VALUES (268, 246, 354, 1, 5000)
INSERT [dbo].[tb_OrderAccessorySelection] ([AccessorySelectionID], [OrderID], [ProductID], [Quantity], [Totals]) VALUES (269, 246, 355, 1, 8000)
SET IDENTITY_INSERT [dbo].[tb_OrderAccessorySelection] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Pre_Order] ON 

INSERT [dbo].[tb_Pre_Order] ([pOrderId], [customerId], [productId], [status], [createTime], [Totals]) VALUES (512, 39, 348, 2, CAST(N'2022-04-19T16:56:56.693' AS DateTime), 269000)
INSERT [dbo].[tb_Pre_Order] ([pOrderId], [customerId], [productId], [status], [createTime], [Totals]) VALUES (514, 32, 348, 2, CAST(N'2022-05-24T10:09:11.753' AS DateTime), 456000)
SET IDENTITY_INSERT [dbo].[tb_Pre_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Pre_Order_accompanying] ON 

INSERT [dbo].[tb_Pre_Order_accompanying] ([pAccompId], [pOrderId], [accompanyingQty], [productId], [status], [createTimeClone], [Totals]) VALUES (505, 512, 1, 346, NULL, CAST(N'2022-04-19T16:56:56.693' AS DateTime), 50000)
INSERT [dbo].[tb_Pre_Order_accompanying] ([pAccompId], [pOrderId], [accompanyingQty], [productId], [status], [createTimeClone], [Totals]) VALUES (506, 512, 1, 339, NULL, CAST(N'2022-04-19T16:56:56.693' AS DateTime), 50000)
INSERT [dbo].[tb_Pre_Order_accompanying] ([pAccompId], [pOrderId], [accompanyingQty], [productId], [status], [createTimeClone], [Totals]) VALUES (507, 512, 1, 340, NULL, CAST(N'2022-04-19T16:56:56.693' AS DateTime), 15000)
SET IDENTITY_INSERT [dbo].[tb_Pre_Order_accompanying] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Pre_Order_Details] ON 

SET IDENTITY_INSERT [dbo].[tb_Pre_Order_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Product] ON 

SET IDENTITY_INSERT [dbo].[tb_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Product_Translation] ON 

INSERT [dbo].[tb_Product_Translation] ([ProductID_EN], [ProductName_EN], [ShortDescription], [FullDescription_EN], [Idproduct], [PricePerBlock_EN], [PricePerDay_EN], [PricePerMonth_EN], [IdLanguage], [ProductSpecification], [ProductInstruction]) VALUES (1167, N'1', N'1', N'1', 209, N'1', N'1', N'1', N'1', N'1', N'1')
GO
SET IDENTITY_INSERT [dbo].[tb_Product_Translation] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductAccessorySelection] ON 

INSERT [dbo].[tb_ProductAccessorySelection] ([ProductAccessorySelectionID], [ProductID], [ProductName], [ProductCode], [PricePerBlock], [PricePerDay], [ProductValue]) VALUES (219, 210, N'Mũi khoan gỗ 13 mm', N'HA0018', NULL, NULL, NULL)
INSERT [dbo].[tb_ProductAccessorySelection] ([ProductAccessorySelectionID], [ProductID], [ProductName], [ProductCode], [PricePerBlock], [PricePerDay], [ProductValue]) VALUES (220, 210, N'Mũi khoan bêtông 6 mm', N'HA0019', NULL, NULL, NULL)
INSERT [dbo].[tb_ProductAccessorySelection] ([ProductAccessorySelectionID], [ProductID], [ProductName], [ProductCode], [PricePerBlock], [PricePerDay], [ProductValue]) VALUES (249, 247, N'Đĩa cắt kim cương khô / ướt hiệu suất cao để cắt gạch xây, bê tông, đá, ngói lợp và nhiều hơn nữa', N'HA0073', NULL, NULL, 150000)
SET IDENTITY_INSERT [dbo].[tb_ProductAccessorySelection] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductCategorySelection] ON 

INSERT [dbo].[tb_ProductCategorySelection] ([ProductCatId], [ProductId], [ProductMainCate], [ProductSubCate1], [ProductSubCate2], [ProductSubCate3]) VALUES (680, 209, 4, 20, 29, NULL)
INSERT [dbo].[tb_ProductCategorySelection] ([ProductCatId], [ProductId], [ProductMainCate], [ProductSubCate1], [ProductSubCate2], [ProductSubCate3]) VALUES (681, 210, 4, 20, 29, NULL)
INSERT [dbo].[tb_ProductCategorySelection] ([ProductCatId], [ProductId], [ProductMainCate], [ProductSubCate1], [ProductSubCate2], [ProductSubCate3]) VALUES (682, 211, 4, 20, 29, NULL)
GO
SET IDENTITY_INSERT [dbo].[tb_ProductCategorySelection] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductGallery] ON 

INSERT [dbo].[tb_ProductGallery] ([ImageID], [ProductID], [ImagePath]) VALUES (31, 209, N'/image_product/HA0001 may-bat-oc-vit 2.jpg')
INSERT [dbo].[tb_ProductGallery] ([ImageID], [ProductID], [ImagePath]) VALUES (32, 209, N'/image_product/HA0001 may-bat-oc-vit 3.jpg')
INSERT [dbo].[tb_ProductGallery] ([ImageID], [ProductID], [ImagePath]) VALUES (33, 210, N'/image_product/HA0002 may-khoan-pin 2.jpg')
SET IDENTITY_INSERT [dbo].[tb_ProductGallery] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductPricePerDay] ON 

SET IDENTITY_INSERT [dbo].[tb_ProductPricePerDay] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductPricePerHour] ON 

INSERT [dbo].[tb_ProductPricePerHour] ([PPHId], [ProductID], [Block1], [Block2], [Block3], [Block4], [Block5], [Block6], [Block7], [Block8], [Block9], [Block10], [Block11], [Block12], [Block13], [Block14], [Block15], [Block16], [Block17], [Block18], [Block19], [Block20], [Block21], [Block22], [Block23], [Block24]) VALUES (38, 612, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000)
INSERT [dbo].[tb_ProductPricePerHour] ([PPHId], [ProductID], [Block1], [Block2], [Block3], [Block4], [Block5], [Block6], [Block7], [Block8], [Block9], [Block10], [Block11], [Block12], [Block13], [Block14], [Block15], [Block16], [Block17], [Block18], [Block19], [Block20], [Block21], [Block22], [Block23], [Block24]) VALUES (39, 614, 11000, 15000, 20000, 20000, 30000, 30000, 35000, 40000, 45000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 51000)
INSERT [dbo].[tb_ProductPricePerHour] ([PPHId], [ProductID], [Block1], [Block2], [Block3], [Block4], [Block5], [Block6], [Block7], [Block8], [Block9], [Block10], [Block11], [Block12], [Block13], [Block14], [Block15], [Block16], [Block17], [Block18], [Block19], [Block20], [Block21], [Block22], [Block23], [Block24]) VALUES (40, 737, 11000, 15000, 20000, 20000, 30000, 30000, 35000, 40000, 45000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 50000, 51000)
SET IDENTITY_INSERT [dbo].[tb_ProductPricePerHour] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductPricePerMonth] ON 

INSERT [dbo].[tb_ProductPricePerMonth] ([PPMId], [ProductID], [Block1], [Block2], [Block3], [Block4], [Block5], [Block6], [Block7], [Block8], [Block9], [Block10], [Block11], [Block12]) VALUES (31, 614, 1000000, 2000000, 3000000, 4000000, 5000000, 6000000, 7000000, 8000000, 9000000, 10000000, 11000000, 12000000)
INSERT [dbo].[tb_ProductPricePerMonth] ([PPMId], [ProductID], [Block1], [Block2], [Block3], [Block4], [Block5], [Block6], [Block7], [Block8], [Block9], [Block10], [Block11], [Block12]) VALUES (32, 737, 1000000, 2000000, 3000000, 4000000, 5000000, 6000000, 7000000, 8000000, 9000000, 10000000, 11000000, 12000000)
INSERT [dbo].[tb_ProductPricePerMonth] ([PPMId], [ProductID], [Block1], [Block2], [Block3], [Block4], [Block5], [Block6], [Block7], [Block8], [Block9], [Block10], [Block11], [Block12]) VALUES (33, 1078, 1000000, 2000000, 3000000, 4000000, 5000000, 6000000, 7000000, 8000000, 9000000, 10000000, 11000000, 12000000)
SET IDENTITY_INSERT [dbo].[tb_ProductPricePerMonth] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductTermConditionDetails] ON 

GO
SET IDENTITY_INSERT [dbo].[tb_ProductTermConditionDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ProductTermConditionDetails_Translation] ON 

INSERT [dbo].[tb_ProductTermConditionDetails_Translation] ([PrDetailsId], [ProductId], [IdLanguage], [CostInstallation], [CostDelivery], [CostInstallAndDelivery], [CostReservation], [CostDepositValue], [CostDepositDocument], [CreateTime], [CreatedBy], [Tuvanchuyen], [Giaotannha], [Nhantratannha], [Giaovanhantratannha], [Tulapdat], [Huongdansudung], [Thotoilap], [Thotoithao], [Thodenlapvathao]) VALUES (12, 378, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[tb_ProductTermConditionDetails_Translation] ([PrDetailsId], [ProductId], [IdLanguage], [CostInstallation], [CostDelivery], [CostInstallAndDelivery], [CostReservation], [CostDepositValue], [CostDepositDocument], [CreateTime], [CreatedBy], [Tuvanchuyen], [Giaotannha], [Nhantratannha], [Giaovanhantratannha], [Tulapdat], [Huongdansudung], [Thotoilap], [Thotoithao], [Thodenlapvathao]) VALUES (13, 379, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[tb_ProductTermConditionDetails_Translation] ([PrDetailsId], [ProductId], [IdLanguage], [CostInstallation], [CostDelivery], [CostInstallAndDelivery], [CostReservation], [CostDepositValue], [CostDepositDocument], [CreateTime], [CreatedBy], [Tuvanchuyen], [Giaotannha], [Nhantratannha], [Giaovanhantratannha], [Tulapdat], [Huongdansudung], [Thotoilap], [Thotoithao], [Thodenlapvathao]) VALUES (14, 384, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'', N'', N'', N'', N'', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[tb_ProductTermConditionDetails_Translation] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Province] ON 

INSERT [dbo].[tb_Province] ([Id], [Name], [Type], [TelephoneCode], [ZipCode], [CountryId], [CountryCode], [SortOrder], [IsPublished], [IsDeleted]) VALUES (2, N'Hà Nội', NULL, NULL, NULL, 1, NULL, 0, NULL, NULL)
INSERT [dbo].[tb_Province] ([Id], [Name], [Type], [TelephoneCode], [ZipCode], [CountryId], [CountryCode], [SortOrder], [IsPublished], [IsDeleted]) VALUES (3, N'Hồ Chí Minh', NULL, NULL, NULL, 1, NULL, 1, NULL, NULL)
INSERT [dbo].[tb_Province] ([Id], [Name], [Type], [TelephoneCode], [ZipCode], [CountryId], [CountryCode], [SortOrder], [IsPublished], [IsDeleted]) VALUES (4, N'An Giang', NULL, NULL, NULL, 1, NULL, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_Province] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_ServiceSelection] ON 

INSERT [dbo].[tb_ServiceSelection] ([ServiceSelectionID], [ServiceName], [ServiceDescription], [ServiceCost], [SortBy]) VALUES (1, N'Thợ đến lắp', N'Kỹ thuật viên của chúng tôi sẽ giao sản phẩm đến tận nơi đồng thời tiền hành lắp đặt và hướng dẫn sử dụng cho quý khách.', 75000, 1)
INSERT [dbo].[tb_ServiceSelection] ([ServiceSelectionID], [ServiceName], [ServiceDescription], [ServiceCost], [SortBy]) VALUES (2, N'Hướng dẫn sử dụng', N'Kỹ thuật viên của chúng tôi sẽ hướng dẫn sử dụng cho quý khách khi đến nhận hàng.', 37000, 2)
INSERT [dbo].[tb_ServiceSelection] ([ServiceSelectionID], [ServiceName], [ServiceDescription], [ServiceCost], [SortBy]) VALUES (3, N'Tự lặp đặt', N'Quý khách hàng tự lắp đặt và sử dụng sản phẩm, chúng tôi có thể tư vấn qua điện thoại.', 0, 3)
SET IDENTITY_INSERT [dbo].[tb_ServiceSelection] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_stockTemp] ON 

INSERT [dbo].[tb_stockTemp] ([stockTempId], [idProduct], [Quatity]) VALUES (1006, 23, 20)
INSERT [dbo].[tb_stockTemp] ([stockTempId], [idProduct], [Quatity]) VALUES (1007, 22, 10)
INSERT [dbo].[tb_stockTemp] ([stockTempId], [idProduct], [Quatity]) VALUES (1008, 21, 10)
GO
SET IDENTITY_INSERT [dbo].[tb_stockTemp] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_stockTempLog] ON 

INSERT [dbo].[tb_stockTempLog] ([stockTempLogID], [stockTempId], [createDate], [Qty]) VALUES (1, 3, CAST(N'2020-06-19T14:34:53.990' AS DateTime), 10)
INSERT [dbo].[tb_stockTempLog] ([stockTempLogID], [stockTempId], [createDate], [Qty]) VALUES (2, 3, CAST(N'2020-06-19T14:36:46.910' AS DateTime), 12)
INSERT [dbo].[tb_stockTempLog] ([stockTempLogID], [stockTempId], [createDate], [Qty]) VALUES (3, 3, CAST(N'2020-06-19T14:37:31.020' AS DateTime), 13)
SET IDENTITY_INSERT [dbo].[tb_stockTempLog] OFF
GO
INSERT [dbo].[tb_Ward] ([Id], [Name], [Type], [LatiLongTude], [DistrictID], [SortOrder], [IsPublished], [IsDeleted]) VALUES (1, N'Phường 1', NULL, NULL, 1, 1, 1, NULL)
INSERT [dbo].[tb_Ward] ([Id], [Name], [Type], [LatiLongTude], [DistrictID], [SortOrder], [IsPublished], [IsDeleted]) VALUES (2, N'Phường 2', NULL, NULL, 1, 1, 1, NULL)
INSERT [dbo].[tb_Ward] ([Id], [Name], [Type], [LatiLongTude], [DistrictID], [SortOrder], [IsPublished], [IsDeleted]) VALUES (3, N'Phường 3', NULL, NULL, 1, 1, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[tb_WareHouse] ON 

INSERT [dbo].[tb_WareHouse] ([whId], [WarehouseCode], [WarehouseName], [WarehouseAddress], [whOpenTime], [whCloseTime], [IsDeleted], [IsDisplay], [createTime], [Images], [Policy], [Phone], [Zalo], [Messenger], [Skype], [Email], [Icons], [Hopdong], [ChinhSach], [NgayTaoChinhSach], [BannerImage], [LocationMap]) VALUES (1, N'WH202001', N'Levoisin', N'Số 431, đường Nguyễn Kiệm, phường 9, quận Phú Nhuận, Hồ Chí Minh, Việt Nam', N'09:00', N'18:30', NULL, NULL, CAST(N'2020-03-14T05:50:12.010' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tb_WareHouse] ([whId], [WarehouseCode], [WarehouseName], [WarehouseAddress], [whOpenTime], [whCloseTime], [IsDeleted], [IsDisplay], [createTime], [Images], [Policy], [Phone], [Zalo], [Messenger], [Skype], [Email], [Icons], [Hopdong], [ChinhSach], [NgayTaoChinhSach], [BannerImage], [LocationMap]) VALUES (2, N'WH2020023', N'The Backyard quận 23', N'số 44, đường 44, phường Thảo Điền, quận 23', N'', N'', NULL, NULL, CAST(N'2021-01-04T15:17:23.707' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tb_WareHouse] ([whId], [WarehouseCode], [WarehouseName], [WarehouseAddress], [whOpenTime], [whCloseTime], [IsDeleted], [IsDisplay], [createTime], [Images], [Policy], [Phone], [Zalo], [Messenger], [Skype], [Email], [Icons], [Hopdong], [ChinhSach], [NgayTaoChinhSach], [BannerImage], [LocationMap]) VALUES (3, N'WH202003', N'Nam Anh building quận 1', N'An Phú, An Khánh, quận 2, TPHCM', N'10:30', N'17:30', NULL, NULL, CAST(N'2020-03-16T06:40:03.677' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_WareHouse] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_WareHouse_Day] ON 

INSERT [dbo].[tb_WareHouse_Day] ([whdid], [whdName], [whTimeClose], [whId]) VALUES (1, N'Nghỉ lễ', CAST(N'2020-07-22T00:00:00.000' AS DateTime), 7)
INSERT [dbo].[tb_WareHouse_Day] ([whdid], [whdName], [whTimeClose], [whId]) VALUES (3, N'Nghỉ lễ 2', CAST(N'2020-07-24T00:00:00.000' AS DateTime), 7)
INSERT [dbo].[tb_WareHouse_Day] ([whdid], [whdName], [whTimeClose], [whId]) VALUES (7, N'', CAST(N'2021-11-22T00:00:00.000' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[tb_WareHouse_Day] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_WareHouse_Time] ON 

INSERT [dbo].[tb_WareHouse_Time] ([whtid], [whId], [whOpenTime], [whCloseTime], [whOpenTime2], [whCloseTime2], [FromDayOfWeek], [ToDayOfWeek], [whOpenTime3], [whCloseTime3], [Title1], [Title2], [Title3]) VALUES (9, 4, N'08:30', N'12:00', N'13:00', N'18:30', N'2,', NULL, N'20:30', N'22:00', N'', N'', N'')
INSERT [dbo].[tb_WareHouse_Time] ([whtid], [whId], [whOpenTime], [whCloseTime], [whOpenTime2], [whCloseTime2], [FromDayOfWeek], [ToDayOfWeek], [whOpenTime3], [whCloseTime3], [Title1], [Title2], [Title3]) VALUES (10, 4, N'07:40', N'12:00', N'', N'', N'2,3,6,7,', NULL, N'18:00', N'20:00', N'', N'', N'')
INSERT [dbo].[tb_WareHouse_Time] ([whtid], [whId], [whOpenTime], [whCloseTime], [whOpenTime2], [whCloseTime2], [FromDayOfWeek], [ToDayOfWeek], [whOpenTime3], [whCloseTime3], [Title1], [Title2], [Title3]) VALUES (22, 6, N'07:00', N'09:00', N'10:00', N'11:00', N'2,6,7,', NULL, N'', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[tb_WareHouse_Time] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeBlock] ON 

INSERT [dbo].[TimeBlock] ([Id], [FromTime], [ToTime], [ForDays], [whId], [DisplayOrder]) VALUES (42, N'04:00,08:00,13:30', N'07:00,11:00,15:12', N'2', 4, NULL)
INSERT [dbo].[TimeBlock] ([Id], [FromTime], [ToTime], [ForDays], [whId], [DisplayOrder]) VALUES (43, N'04:00,08:00,13:30', N'07:00,11:00,15:12', N'3', 4, NULL)
INSERT [dbo].[TimeBlock] ([Id], [FromTime], [ToTime], [ForDays], [whId], [DisplayOrder]) VALUES (45, N'04:00,08:00,13:30', N'07:00,11:00,15:12', N'5', 4, NULL)
SET IDENTITY_INSERT [dbo].[TimeBlock] OFF
GO
INSERT [dbo].[Tinhthanhpho] ([MaTP], [Name], [Type], [Slug]) VALUES (N'01', N'Hà Nội', N'Thành phố Trung ương', N'HANOI')
INSERT [dbo].[Tinhthanhpho] ([MaTP], [Name], [Type], [Slug]) VALUES (N'02', N'Hà Giang', N'Tỉnh', N'HAGIANG')
INSERT [dbo].[Tinhthanhpho] ([MaTP], [Name], [Type], [Slug]) VALUES (N'04', N'Cao Bằng', N'Tỉnh', N'CAOBANG')
GO
ALTER TABLE [dbo].[tb_Ward] ADD  CONSTRAINT [DF_Ward_SortOrder]  DEFAULT ((1)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[tb_Ward] ADD  CONSTRAINT [DF_Ward_IsPublished]  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[tb_District]  WITH CHECK ADD  CONSTRAINT [FK_District_Province] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[tb_Province] ([Id])
GO
ALTER TABLE [dbo].[tb_District] CHECK CONSTRAINT [FK_District_Province]
GO
ALTER TABLE [dbo].[tb_Province]  WITH CHECK ADD  CONSTRAINT [FK_Province_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[tb_Country] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Province] CHECK CONSTRAINT [FK_Province_Country]
GO
ALTER TABLE [dbo].[tb_Ward]  WITH CHECK ADD  CONSTRAINT [FK_Ward_District] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[tb_District] ([Id])
GO
ALTER TABLE [dbo].[tb_Ward] CHECK CONSTRAINT [FK_Ward_District]
GO
/****** Object:  StoredProcedure [dbo].[testStored1]    Script Date: 12/03/2023 3:58:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[testStored1]
AS
BEGIN
    SET NOCOUNT ON;
select * from tb_CategoryMain
order by MainCateID desc
END


GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kinh độ, vĩ độ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_District', @level2type=N'COLUMN',@level2name=N'LatiLongTude'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: 3 banner dưới main slider ; 2: 3 BANNER NGANG Ở TRÊN; 3: 5 BANNER ĐỨNG BÊN CỘT PHẢI; 4: 3 BANNER Ở DƯỚI (1 TRÁI 2 PHẢI) ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_HomeBanner', @level2type=N'COLUMN',@level2name=N'BannerGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Rented; 2:finished; 3: on process' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_Order', @level2type=N'COLUMN',@level2name=N'OrderStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'cờ trạng thái cho biết đon hàng có Renew hay không để set return_time cho đúng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_Order', @level2type=N'COLUMN',@level2name=N'UpdatingStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'lần cập nhật (ola62n 1, lần 2,..)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_OrderTrackingUpdate', @level2type=N'COLUMN',@level2name=N'OrderTrackingUpdateID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ngày trả SP mới' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_OrderTrackingUpdate', @level2type=N'COLUMN',@level2name=N'ReturnDate'
GO
USE [master]
GO
