
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Hirent Website | Admin page</title>
    <!-- Bootstrap -->
    <link href="~/backend/build/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/backend/build/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/backend/build/nprogress/nprogress.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/backend/build/iCheck/skins/flat/green.css" rel="stylesheet" />
    <!-- FullCalendar -->
    <link href="~/backend/build/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/backend/build/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
    <!-- bootstrap-progressbar -->
    <link href="~/backend/build/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="~/backend/build/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/backend/build/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- bootstrap-datetimepicker -->
    <link href="~/backend/build/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/backend/build/css/custom.min.css" rel="stylesheet" />
    <link href="~/backend/build/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://thdoan.github.io/bootstrap-select/css/bootstrap-select.css" />

    <script src="~/backend/build/jquery/dist/jquery.min.js"></script>

    <!-- Custom Theme Style -->
    <link href="~/backend/css/custom.min.css" rel="stylesheet" />
    <link href="~/backend/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/backend/css/adTemplate.css" rel="stylesheet" />
    <link href="~/backend/css/bootstrap-select.css" rel="stylesheet" />

    <!-- tinymce editor -->
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    @{
        if (Request.Cookies["hirenadmin"] == null)
        {
            Response.Redirect("/Admin/Dashboard/login");
        }
    }
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- left navigation sidebar menu -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="glyphicon glyphicon-home"></i> <span>Hirent Website</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        @Html.Action("MenuLeft", "Dashboard")
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- /left navigation sidebar menu -->
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right" id="userInfobox">
                            @Html.Action("UserInfo", "Dashboard")
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <div>
                @RenderBody()
            </div>

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Hirent - Bootstrap Admin Backend by <a href="http://siyosa.net">Siyosa Co., Ltd</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
            <!-- Modal Alert -->
            <div class="modal fade" id="alertDialog" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align:center;">Hirent</h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /Modal Alert -->

                </div>
            </div>

        </div>
    </div>

    <!-- jQuery -->
    <script src="~/backend/build/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/backend/build/bootstrap/dist/js/bootstrap.js"></script>
    <!-- FastClick -->
    <script src="~/backend/build/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/backend/build/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/backend/build/iCheck/icheck.min.js"></script>
    <!-- FullCalendar -->
    <script src="~/backend/build/fullcalendar/fullcalendar.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/backend/build/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/backend/build/js/custom.min.js"></script>

    <!-- Datatables -->
    <script src="~/backend/build/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/backend/build/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/backend/build/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/backend/build/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/backend/build/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/backend/build/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/backend/build/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/backend/build/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/backend/build/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/backend/build/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/backend/build/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/backend/build/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/backend/build/jszip/dist/jszip.min.js"></script>
    <script src="~/backend/build/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/backend/build/pdfmake/build/vfs_fonts.js"></script>
    <!-- NProgress -->
    <script src="~/backend/build/nprogress/nprogress.js"></script>
    <!-- jQuery Smart Wizard -->
    <script src="~/backend/build/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- Skycons -->
    <script src="~/backend/build/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/backend/build/Flot/jquery.flot.js"></script>
    <script src="~/backend/build/Flot/jquery.flot.pie.js"></script>
    <script src="~/backend/build/Flot/jquery.flot.time.js"></script>
    <script src="~/backend/build/Flot/jquery.flot.stack.js"></script>
    <script src="~/backend/build/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/backend/build/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/backend/build/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/backend/build/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/backend/build/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/backend/build/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/backend/build/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/backend/build/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/backend/build/moment/min/moment.min.js"></script>
    <script src="~/backend/build/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-datetimepicker -->
    <script src="~/backend/build/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

</body>

</html>
<script>

    $('#datatable').DataTable({
        ordering: false  // Hủy chức năng sắp xếp
    })

    function logout() {

        $.ajax({
            url: '/Admin/Dashboard/Logout',
            type: "GET",
            dataType: 'html',
            success: function (data, status, xhr) {
                location.reload();
            },
            error: function (xhr, status, error) {
                alert(status);
            }
        });
    }
</script>

<link href="~/Content/loading.css" rel="stylesheet" />
<div class="loadding">
    <img src="~/Assets/Images/Dual Ring@1x-1.0s-200px-200px.gif" />
</div>
<script>
    $(".loadding").hide();
</script>